<h2>
    您在 <a href="<%=siteUrl%>" target="_blank">
        <%=siteName%>
        </a>上的评论有了新的回复
</h2>
<p>
{ <%=pname%> } 同学，您曾发表评论：
</p>
<p>
    <%-ptext%>
</p>
<p><strong><%=name%></strong>回复说：</p>
<p>
    <%-text%>
</p>
<p>您可以点击<a href="<%=url%>" target="_blank">查看回复的完整內容 </a>，欢迎再次光临 <a href="<%=siteUrl%>" target="_blank"><%=siteName%></a>。
    <br>
    本邮件为系统自动发送，请勿直接回复。
</p>  
